name: Shopping Lists API Tests

on:
  push:
    branches:
      - main
      - master
      - dev
      - shopping-*    # your branches
  pull_request:

jobs:
  test-appointments:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Run shopping lists tests
        run: npx mocha TestFolder/shopper_test.js --timeout 10000
